body {
    background-color: lightblue;   
}
header {
    color: red;
}
#first {
    color: black;
    font-weight: bolder;
}
.boxed {
    border: 8px solid green;
}
#otrakaste {
    border: 8px solid red;
}
#title {
    align: middle;
}
.first {
    align-content: center;
}