body {
    background-color: rgba(78, 47, 6, 0.685);   
}
header {
    color: red;
}
#first {
    color: black;
    font-size: 25px;
}
#title {
    align: middle;
}
#third {
    color: brown;
    font-size: 25px;
}
#second {
    width: 250px;
    border: 15px solid green;
    padding: 25px;
    margin: 15px;
}
#fourth {
    width: 250px;
    border: 5.5px solid yellowgreen;
    padding: 15px;
    margin: 10px;
}
.tituls {
    font-size: 40px;

}